@model MovieApp.Entity.BookingModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Booking</h1>
<hr />
<form method="post">

    <div class="form-group">
        <label for="BookingId">Booking Id</label>
        <input type="text" class="form-control" asp-for="BookingId" readonly />
    </div>
    <div class="form-group">
        <label for="MovieId">Movie Id</label>
        <input type="text" class="form-control" asp-for="MovieId" readonly />
    </div>

    <div class="form-group">
        <label for="TheatreId">Theatre</label>
        <input type="text" class="form-control" asp-for="TheatreId" readonly />
    </div>

    <div class="form-group">
        <label for="ShowTime">ShowTime</label>
        <input type="text" class="form-control" asp-for="ShowTime" readonly />
    </div>
    <div class="form-group">
        <label for="Date">Date</label>
        <input type="text" class="form-control" asp-for="Date" readonly />
    </div>

    <div class="form-group">
        <label for="UserId">User Name </label>
        <input type="text" class="form-control" asp-for="UserId" readonly />
    </div>

    <div class="form-group">
        <label for="TicketCount">Ticket Count </label>
        <input type="text" class="form-control" asp-for="TicketCount" readonly />
    </div>

    <input type="submit" value="Delete" class="btn btn-primary" />
    <input type="button" value="Reset" class="btn btn-secondary" />
</form>
<hr />
@if (ViewBag.status == "OK")
{
    <div class="alert alert-success">@ViewBag.message</div>
}
else if (ViewBag.status == "Error")
{
    <div class="alert alert-danger">@ViewBag.message</div>
}
<hr />
<a asp-action="BookingList" asp-controller="Booking">Show Booking Details</a>
<hr />

